streamlit==1.39.0
spacy==3.6.0  # or the version you are using
nltk
scipy==1.11.2
beautifulsoup4
gensim
wordcloud
 
import spacy
import os

# Check if the model is already installed
if not os.path.exists(spacy.util.get_model_path("en_core_web_sm")):
    os.system("python -m spacy download en_core_web_sm")

# Load the spaCy model
nlp = spacy.load("en_core_web_sm")
